[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyaudio = "*"
flask = "*"
gunicorn = "*"
speechrecognition = "*"

[requires]
python_version = "3.7"
